@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body,
body.light {
  --background: 255, 255, 255;
  --foreground: 23, 23, 23;
}

body.light .thumb-black,
body .thumb-black {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  body:not(.dark, .light) {
    --background: 10, 10, 10;
    --foreground: 237, 237, 237;
  }

  body .thumb-black {
    opacity: 0;
  }
}

body.dark {
  --background: 10, 10, 10;
  --foreground: 237, 237, 237;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}

.dissipate-animation {
  transition: all 400ms;
  animation: filterDissipate 1.5s 100ms ease 1 forwards;
  text-shadow: 50px 50px 10px currentColor;
  filter: blur(10px);
  transform: translateY(-8%);
}

.about-in {
  opacity: 0;
  animation: fadeIn 700ms 400ms ease 1 forwards;
}

@keyframes filterDissipate {
  0% {
    text-shadow: 50px 50px 10px currentColor;
    filter: blur(10px);
    transform: translateY(-8%);
  }

  100% {
    transform: translateY(0);
    text-shadow: none;
    filter: blur(0);
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.scene {
  max-width: 100%;
  width: calc(100vw - 6rem);
  position: relative;
  perspective: 1000px;
  height: auto;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.scene .carousel.keen-slider {
  overflow: visible;
  width: calc(100vw - 6rem);
  height: fit-content;
  max-width: calc(100vw - 6rem);
  top: 0;
  position: absolute;
  transform-origin: center;
  transform-style: preserve-3d;
}

.carousel__cell::before {
  position: absolute;
  background-image: url('./favicon.ico');
  background-position: center;
  background-size: 15% auto;
  background-repeat: no-repeat;
  background-color: rgba(var(--background), 1);
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  content: "";
  left: 1px;
  top: 1px;
  z-index: -1;
  box-shadow: 0 0 1vw inset rgba(var(--foreground), .45);
}

.carousel__cell {
  transform-origin: center;
  position: absolute;
  width: calc(100vw - 6rem);
  max-width: calc(100vw - 6rem);
  height: fit-content;
  transform-style: preserve-3d;
  transition: all ease 500ms;
}

.carousel__cell::after {
  content: '';
  opacity: 0;
  display: flex;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 60%;
  background-color: rgba(var(--foreground), .45);
  transform: rotateX(90deg) translate3d(0, 10%, -50px);
  filter: blur(50px);
  transition: opacity 200ms ease-in-out 0s;
}

.carousel__cell .title-span {
  opacity: 0;
  transition: opacity 200ms ease-in-out 1s;
}

.carousel__cell.active::after {
  transition: opacity 200ms ease-in-out 1s;
  opacity: 1;
}

.carousel__cell.active .title-span {
  opacity: 1;
}

.carousel__cell:hover, 
.carousel__cell:focus  {
  scale: 1.1;
}

.carousel__cell * {
  backface-visibility: hidden;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .scene {
    width: 75vw;
    height: 10rem;
    min-height: none;
  }

  .scene .carousel.keen-slider {
    width: 75vw;
    max-width: 75vw;
    height: 10rem;
  }

  .carousel__cell {
    width: 75vw;
    max-width: 75vw;
    height: 100%;
  }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
  .scene {
    width: 45vw;
    height: 10rem;
    min-height: none;
  }

  .scene .carousel.keen-slider {
    width: 45vw;
    max-width: 45vw;
    height: 10rem;
  }

  .carousel__cell {
    width: 45vw;
    max-width: 45vw;
    height: 100%;
  }
}

/* Extra large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) {
  .scene {
    width: 25vw;
    height: 10rem;
    min-height: none;
  }

  .scene .carousel.keen-slider {
    width: 35vw;
    max-width: 35vw;
    height: 10rem;
  }

  .carousel__cell {
    width: 35vw;
    max-width: 35vw;
    height: 100%;
  }
}

/* @media (min-width: 1536px) {
  .scene {
    width: 25vw;
  }

  .scene .carousel.keen-slider {
    width: 25vw;
    max-width: 25vw;
  }

  .carousel__cell {
    width: 25vw;
    max-width: 25vw;
  }
} */


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dialogShow {
  0% {
    opacity: 0;
    transform-origin: center;
    transform: scale(1) translateX(-50%) translateY(-60%);
  }
  100% {
    opacity: 1;
    transform-origin: center;
    transform: scale(1) translateX(-50%) translateY(-50%);
  }
}

.dialog-content-animated {
  animation: dialogShow 350ms ease-out forwards;
}