.dissipate-animation {
  transition: all 400ms;
  animation: filterDissipate 1.5s 100ms ease 1 forwards;
  text-shadow: 50px 50px 10px #FFF;
  filter: blur(10px);
  transform: translateY(-8%);
}

@keyframes filterDissipate {
  0% {
    text-shadow: 50px 50px 10px #FFF;
    filter: blur(10px);
    transform: translateY(-8%);
  }

  100% {
    transform: translateY(0);
    text-shadow: none;
    filter: blur(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}